/*
* WPAC Like System Front-end CSS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.wpac-buttons-container, .wpac-reactions-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wpac-reactions-container {
    text-align: center;
}
#wpacAjaxResponse {
    display: none;
}
.wpac-btn-container {
    display: inline-block;
    width: 48%;
    margin: 0 1%;
}
.wpac-reaction-icon-box {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    margin: 0 5px;
    border: 2px solid #ededed;
    border-radius: 50%;
}
.wpac-reaction {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #666666;
    transition: 0.3s all;
}
.colorful-reactions .wpac-reaction {
    color: #ffffff;
}

.colorful-reactions .wpac-like-reaction {background: #0181d6; border-color: #0181d6}
.colorful-reactions .wpac-love-reaction {background: #e20422; border-color: #e20422;}
.colorful-reactions .wpac-laugh-reaction {background: #e99f00; border-color: #e99f00;}
.colorful-reactions .wpac-amazed-reaction {background: #02101a; border-color: #02101a;}
.colorful-reactions .wpac-sad-reaction {background: #7e7e7e; border-color: #7e7e7e;}
.colorful-reactions .wpac-angry-reaction {background: #eb5701; border-color: #eb5701;}

.wpac-reaction-icon-box:hover .wpac-reaction {
    transform: scale(1.1,1.1);
}
.wpac-reation-tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 25px;
    background: #111111;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    line-height: 25px;
    display: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wpac-reation-tooltip::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #111111 transparent transparent transparent;
}
.wpac-reaction:hover .wpac-reation-tooltip {
    display: inline-block;
}
.wpac-reaction-count {
    font-size: 10px;
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ededed;
    color: #444444;
    position: absolute;
    top: -7px;
    right: -7px;
    line-height: 15px;
    font-family: "Roboto", serif;
}
.colorful-reactions .wpac-reaction .wpac-reaction-count {
    background: #ffffff;
}
.wpac-btn {
    display: flex;
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn-medium {
    display: inline-block;
    width: 48%;
    max-width: 190px;
    padding: 10px;
    font-size: 14px;
    margin: 0 1%;
    background: #f8f8f8;
    text-align: left;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn:hover {
    text-decoration: none;
    color: inherit;
}
.wpac-flat-btn .wpac-btn-icon {
    padding: 20px 30px;
    font-size: 20px;
    float: left;
    height: 100%;
}
.wpac-flat-btn .wpac-btn-label {
    margin-left: 5px;
    padding: 20px;
    font-size: 20px;
    float: left;
    height: 100%;
    text-align: center;
    flex: 1;
}
.wpac-btn-medium .wpac-btn-icon {
    padding: 10px;
}
.wpac-btn-medium .wpac-btn-label {
    margin-left: 35px;
}
.wpac-flat-btn.wpac-like-btn .wpac-btn-icon {
    background: rgb(15, 122, 69);
}
.wpac-flat-btn.wpac-dislike-btn .wpac-btn-icon {
    background-color: #ce504c;
}
.wpac-like-btn, .wpac-dislike-btn {
    color: #ffffff !important;
}
.wpac-like-btn {
    background-color: rgba(45, 143, 88, 0.8);
}
.wpac-dislike-btn {
    background-color: rgb(252, 90, 81);
}
.wpac-like-btn:hover {
    background-color: rgba(45, 143, 88, 1);
}
.wpac-dislike-btn:hover {
    background-color: rgb(224, 77, 69);
}
.wpac-ajax-response span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}
.wpac-count-stats {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.wpac-count-stats p {
    margin-bottom: 0;
    font-size: 16px;
}
.wpac-like-count-message {
    margin: 20px 1% 0 1%;
    font-size: 22px;
    text-align: center;
    width: 98%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #cccccc;
}
@media all and (max-width: 768px){
    .wpac-btn-container {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .wpac-reaction-icon-box {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}