/*
* WPAC Like System Front-end CSS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.wpac-buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
#wpacAjaxResponse {
    display: none;
}
.wpac-btn {
    display: inline-block;
    width: 48%;
    padding: 20px;
    font-size: 20px;
    margin: 0 1%;
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn-medium {
    display: inline-block;
    width: 48%;
    max-width: 190px;
    padding: 10px;
    font-size: 14px;
    margin: 0 1%;
    background: #f8f8f8;
    text-align: left;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn:hover {
    text-decoration: none;
    color: inherit;
}
.wpac-flat-btn .wpac-btn-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 30px;
}
.wpac-btn-medium .wpac-btn-icon {
    padding: 10px;
}
.wpac-btn-medium .wpac-btn-label {
    margin-left: 35px;
}
.wpac-flat-btn.wpac-like-btn .wpac-btn-icon {
    background: rgb(15, 122, 69);
}
.wpac-flat-btn.wpac-dislike-btn .wpac-btn-icon {
    background-color: #ce504c;
}
.wpac-like-btn, .wpac-dislike-btn {
    color: #ffffff !important;
}
.wpac-like-btn {
    background-color: rgba(45, 143, 88, 0.8);
}
.wpac-dislike-btn {
    background-color: rgb(252, 90, 81);
}
.wpac-like-btn:hover {
    background-color: rgba(45, 143, 88, 1);
}
.wpac-dislike-btn:hover {
    background-color: rgb(224, 77, 69);
}
.wpac-ajax-response span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.wpac-like-count-message {
    margin: 20px 1% 0 1%;
    font-size: 22px;
    text-align: center;
    width: 98%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #cccccc;
}