/*
* WPAC Like System Front-end CSS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.wpac-buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
#wpacAjaxResponse {
    display: none;
}
.wpac-btn {
    display: inline-block;
    width: 48%;
    padding: 20px;
    font-size: 20px;
    margin: 0 1%;
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
}
.wpac-btn:hover {
    text-decoration: none;
    color: inherit;
}
.wpac-like-btn, .wpac-dislike-btn {
    color: #ffffff;
}
.wpac-like-btn {
    background-color: rgba(45, 143, 88, 0.8);
}
.wpac-dislike-btn {
    background-color: rgb(252, 90, 81);
}
.wpac-like-btn:hover, .wpac-dislike-btn:hover {
    color: #ffffff;
}
.wpac-like-btn:hover {
    background-color: rgba(45, 143, 88, 1);
}
.wpac-dislike-btn:hover {
    background-color: rgb(224, 77, 69);
}
.wpac-ajax-response span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.wpac-like-count-message {
    margin: 20px 1% 0 1%;
    font-size: 22px;
    text-align: center;
    width: 98%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #cccccc;
}